{% load static %}
{% include 'header.html' %}
<!-- Main -->
<div class="container">
    <div class = "row">
      <center><p><b><font size="7" color="rgb(208,31,93)">Các biểu đồ trực quan về mô hình</font></b></p></center>
    </div>
    <div class = "row" style="background-color: rgba(201, 76, 76, 0.3);">
      <center><p><b><font size="5" color="rgb(208,31,93)">So sánh độ chính xác các mô hình</font></b></p></center>
    </div>
    <div class="row">
      <p><b><font size="4" color="rgb(208,31,93)">1. Logistic Regression</font></b></p>
      <img src={%static 'app/images/ConfusionMatrixLogBefore.JPG' %} width = "1300" height="550" alt="" />
    </div>
    <div class="row">
      <p><b><font size="4" color="rgb(208,31,93)">2. Decision Tree</font></b></p>
      <img src={%static 'app/images/ConfusionMatrixDec.JPG' %} width = "1300" height="550" alt="" />
    </div>
    <div class="row">
      <p><b><font size="4" color="rgb(208,31,93)">3. Random Forest</font></b></p>
      <img src={%static 'app/images/ConfusionMatrixRand.JPG' %} width = "1300" height="550" alt="" />
    </div>
    <div class="row">
      <p><b><font size="4" color="rgb(208,31,93)">4. Naive Bayes</font></b></p>
      <img src={%static 'app/images/ConfusionMatrixNaive.JPG' %} width = "1300" height="550" alt="" />
    </div>
    <div class="row">
      <p><b><font size="4" color="rgb(208,31,93)">5. So sánh các model</font></b></p>
      <img src={%static 'app/images/ModelScoreWithoutDP.jpg' %} width = "1300" height="550" alt="" />
    </div>
    <div class="row" >
      <div class="row" style="background-color: #92a8d1;">
        <center><p><b><font size="5" color="rgb(208,31,93)">So sánh ROC của 2 model tiềm năng</font></b></p></center>
      </div>
      <div class = 'col'>
        <img src={%static 'app/images/ROCLogisticRegression.png' %} width = "600" height="500" alt="" />
      </div>
      <div class = 'col'>
        <img src={%static 'app/images/ROCNaiveBayes.png' %} width = "600" height="500" alt="" />
      </div>
    </div>
    <div class="row" >
      <div class="row" style="background-color: #92a8d1;">
        <center><p><b><font size="5" color="rgb(208,31,93)">So sánh ROC của 2 model tiềm năng sau khi áp dụng DP</font></b></p></center>
      </div>
      <div class = 'col'>
        <img src={%static 'app/images/ROCLogisticRegressionDP.png' %} width = "600" height="500" alt="" />
      </div>
      <div class = 'col'>
        <img src={%static 'app/images/ROCNaiveBayesDP.png' %} width = "600" height="500" alt="" />
      </div>
    </div>
    <div class="row">
      <div class="row" style="background-color: rgba(201, 76, 76, 0.3);">
        <center><p><b><font size="5" color="rgb(208,31,93)">Mối quan hệ giữa hàm loss mô hình LogisticDP và Logictic thường và với epsilon</font></b></p></center>
      </div>
      <div class = 'col'>
        <img src={%static 'app/images/CompareOldAndNewModel.png' %} width = "1300" height="550" alt="" />
      </div>
    </div>
</div>
<!-- end main -->
{% include 'footer.html' %}
